body {
    background-image: url("../images/backgroundblack.jpg");
}

.navbar-custom {
    background-color: #0a0a0a;
}

.content-menu {
    background: #0a0a0a;
}

#toggleB{
    background-color: #e60012;
}
.btn-login{
    background-color: #e60012;
}