body {
    background-image: url("../images/background.jpg");
}

.navbar-custom {
    background-color: #e60012;
}

.content-menu {
    background: #e60012;
}

#toggleVisitor, #toggleBDUser{
    background-color: #3b5998;
}

.btn-login{
    background-color: #3b5998;
}