<nav class="navbar navbar-expand-lg navbar-custom fixed-top navbar-dark">
    <div class="navbar-header">
        <a class="header-brand" href="#"><img id="nintendoLogo" src="images/logos/nintendo.png"  alt="Nintendo Logo"></a>
    </div>

    <div class="navbar-header">
        <a class="header-brand" href="#"><img id="nintendoswitch" src="images/logos/nintendoswitch.png" width="60px" alt="Nintendo Switch"></a>
    </div>
    
    <button class="navbar-toggler btn-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>   

    <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="content-menu">
            <li id="equipos"><span><img width="30px" src="images/logos/super-mario.svg"></img></span><h5>Equipos</h5></li>
            <li id="posiciones"><span><img width="30px" src="images/logos/trophy.svg"></span><h5>Posiciones</h5></li>
            <li id="fixture"><span><img width="30px" src="images/logos/racing.svg"></span><h5>Fixture</h5></li>
            
        </div>
    
        <ul class="nav nav-pills ml-auto">      
            <li class="nav-item">
            <label class="switch" >
                <input id="toggleB" type="checkbox" checked>
                <span class="slider round"></span>
            </label>
            </li>
            <li class="nav-item">
                    <div id="fb-root"></div>
                    <div class="fb-login-button" data-width="100" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>            
            </li>
        </ul>
    </div>            
</nav>