
<div id="gridTabla" class = "container-full">
    <div class="row" id="tablaPosicion"></div>
</div>

<div id="gridPosiciones" class = "container-full">
    <div class="row" id="contenedorTablas"></div>
</div>
